/*
 * $Id: style.css,v 1.5 2003-06-23 06:53:20 cholm Exp $
 *
 * style.css
 * Copyright (C) 2003  Christian Holm <cholm@linux.HAL3000>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * as published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
 * USA
 */
body			{ background		: white;
                          color                 : black; 
                          font-family           : helvetica, sans-serif }
h1			{ text-align		: center; 
                          border-bottom		: solid gray thin; }
caption			{ font-weight		: bold }
address			{ font-size  		: small; 
                          padding-left 		: 1cm; 
                          padding-right		: 1cm; 
                          border-top  		: solid gray thin; }
hr                      { color			: gray }
a:hover			{ text-decoration	: none; 
                          color			: #0000dd;
                          background-color	: #f2f2ff }
a:link			{ text-decoration	: none; 
                          color      		: #0000dd }
a:visited		{ text-decoration	: none; 
                          color      		: #0000dd }
/* Links in the nav bar, and */
/* a.qindex		{} */
/* a.qindexRef		{} */
/* Element in Group index, Group listing, Class in Member list, */ 
/* Member in class listing,  Group in class listing, File in class */
/* listing, reference in member documentation, full member listing */
a.el			{ text-decoration	: none; 
                          font-size		: small;
			  font-family           : monospace; }
                          /* font-weight		: bold } */
a.elRef			{ font-family          : monospace;
                          font-size		: small;
                          /* font-weight		: bold  */ }
/* Links in code listing to docs */
a.code			{ text-decoration	: none; 
                          font-family           : monospace;
                          font-size		: small;
                          /* font-weight		: normal;*/ 
                          color			: #0000dd }
a.codeRef		{ font-weight		: normal; 
                          color			: #0000dd }
/* Element in Alpabetic index, Annotated index,  */
dl.el			{ margin-left		: -1cm }
/* witin @code, source file listing, header file listing */ 
div.fragment		{ width			: 100%; 
                          padding               : 3pt 3pt 3pt 3pt;
                          margin                : 3pt; 
                          border                : thin solid gray; 
                          /* border		: none; */
                          /* background-color	: #eeeeee; */ }
/* Alphabetic index letter markers */
div.ah			{ background-color	: black; 
                          font-family           : monospace;
                          font-family           : monospace;
                          font-size		: small;
                          /* font-weight		: bold; */
                          color			: #ffffff; 
                          margin-bottom		: 3px; 
                          margin-top		: 3px }
/* Cell in member description - not arguments */
td.md			{ background-color	: #f2f2ff; 
                          font-size		: small;
                          font-family           : monospace;
                          /* font-weight		: bold; */ }
/* Cell in member description - 1st argument */
td.mdname1		{ background-color	: #f2f2ff; 
                          font-family           : monospace;
                          font-style		: italic; 
                          font-size		: small;
                          /* font-weight		: bold;*/ 
                          color			: #602020; }
/* Cell in member description - subsequent arguments */
td.mdname		{ background-color	: #f2f2ff; 
                          font-family           : monospace;
                          font-size		: small;
                          font-style		: italic; 
                          /* font-weight		: bold;*/
                          color			: #602020; 
                          width			: 600px; }
/* Grou headings and text */
div.groupHeader		{ margin-left		: 16px; 
                          margin-top		: 12px; 
                          margin-bottom		: 6px; 
                          font-weight		: bold }
div.groupText		{ margin-left		: 16px; 
                          font-style		: italic; 
                          font-size		: smaller }
/* Cell in Annotated index, File list - key */
td.indexkey		{ background-color	: #eeeeff; 
                          color			: white; 
                          font-weight		: bold; 
                          padding-right		: 10px; 
                          padding-top		: 2px; 
                          padding-left		: 10px; 
                          padding-bottom	: 2px; 
                          margin-left		: 0px; 
                          margin-right		: 0px; 
                          margin-top		: 2px; 
                          margin-bottom		: 2px  }
/* Cell in Annotated index, File list - value */
td.indexvalue		{ background-color	: #eeeeff; 
                          font-style		: italic; 
                          padding-right		: 10px; 
                          padding-top		: 2px; 
                          padding-left		: 10px; 
                          padding-bottom	: 2px; 
                          margin-left		: 0px; 
                          margin-right		: 0px; 
                          margin-top		: 2px; 
                          margin-bottom		: 2px  }

/* These are for the source listings */ 
font.comment		{ color			: #b22222; }
font.preprocessor	{ color			: #da70d6; }
font.keyword		{ color			: #a020f0; font-weight: bold }
font.keywordtype	{ color			: #228b22; }
font.keywordflow	{ color			: #a020f0; font-weight: bold }
font.stringliteral	{ color			: #bc8f8f; }
font.charliteral	{ color			: #bc8f8f; }
font.variable		{ color			: #b8860b; }

span.comment		{ color			: #b22222; }
span.preprocessor	{ color			: #da70d6; }
span.keyword		{ color			: #a020f0; font-weight: bold }
span.keywordtype	{ color			: #228b22; }
span.keywordflow	{ color			: #a020f0; font-weight: bold }
span.stringliteral	{ color			: #bc8f8f; }
span.charliteral	{ color			: #bc8f8f; }
span.variable		{ color			: #b8860b; }


/* My stuff */
table.top               { width                 : 100%; 
                          vertical-align        : top; }
table.nav               { height                : 100%;  }
span.seperator          { width                 : 100%;
                          border-top            : thin solid gray; }
td.documentation        { width                 : 100%; 
                          padding               : 5pt 5pt 5pt 5pt; 
                          margin                : 0 0 0 0; 
                          vertical-align        : top; }
td.nav                  { padding               : 5pt 5pt 5pt 5pt; 
                          margin                : 0 0 0 0;
                          white-space           : nowrap; 
                          background-color	: #f2f2ff;
                          vertical-align        : top; }
td.navel                { padding               : 2pt 2pt 2pt 2pt;
                          margin                : 0 0 0 0; }
a.qindex:hover		{ text-decoration	: none; 
                          font-weight           : bold;
                          color			: #0000ff;
                          background-color	: #f2f2ff; }
a.qindex:link		{ text-decoration	: none; 
                          color      		: #0000dd;
                          background-color      : #f2f2ff;
a.qindex:visited	{ text-decoration	: none; 
                          color      		: #0000dd }
tt                      { font-size             : smaller;   
                          font-family           : monospace, fixed, courier }
/*
 * EOF
 */
